body
{
  font-family: sans-serif;
  background-position: left top;
  background-image: url($BACKGROUND-IMAGE$);
  background-repeat: repeat-x;
  background-color: $COLOR-BACKGROUND$;
  background-attachment:fixed;
  color: black;
}

#logo
{ 
  text-align: center;
  padding: 0;
  margin:  0;
}

#pagebody
{ 
  width: 60em;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  color: black;
  font-size: smaller;
  font-family: sans-serif;

  text-align: right;
  background: $COLOR-PAGEHEADER$;
  padding: 5px;
  border-style: none solid solid solid; 
  border-color: COLOR-BACKGROUND;
  border-width: 1px; 
  margin-top: 0;

  -moz-border-radius:    0em 0em 0.5em 0.5em;
  -webkit-border-radius: 0em 0em 0.5em 0.5em;
}

#footer a { 
  text-decoration: none;
}

ul.screenshotmenu
{
  font-weight: bold;
  display: block;
  width: 35em;
  margin: 0 auto 1.5em auto;
  padding: 0.25em 0em;
  text-align: center;
  background-color: $COLOR-PAGEHEADER$;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius:    1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

ul.screenshotmenu li
{
  display: inline;
  list-style-type: none;
}

ul.screenshotmenu li a
{ 
  padding: 0.25em 1em;
  text-decoration: none;
}

ul.screenshotmenu li a:hover
{ 
  background-color: white;
  -moz-border-radius:    1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

h1,h2,h3,h4
{
  font-family: sans-serif;
  margin-top: 0px;
}

h2,h3,h4
{ 
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  padding-left: 0.5em;
}

#pagetitle
{
  border-radius:    0.5em 0.5em 0em 0em;
  -moz-border-radius:    0.5em 0.5em 0em 0em;
  -webkit-border-radius: 0.5em 0.5em 0em 0em;
  background: $COLOR-PAGEHEADER$;
  color: white;
  border-style: solid solid none solid;
  border-color: black;
  border-width: 1px;
  padding-left: 3em;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  position: relative;
  margin-top:    0;
  margin-bottom: 0;
}

p { 
  text-indent: 1em;
}

div.nav
{
  text-align: center;
  margin-bottom:  0;
  padding: 0;
  border-width: 0;
}

div.nav ul
{ 
  list-style-type: none;
  margin:  0;
  padding: 0;
}

div.nav ul li
{ 
  display: inline;
  margin:  0;
  padding: 0;
}

a.menuitem:visited { 
  color: black;
}

a.menuitem
{
  text-decoration: none;
  margin:  0.25em 0.25em 0 0.25em;
  padding: 0.25em 1em 0.5em 1em;

  color: black;        

  -moz-border-radius:    0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;

  font-size: 1em;
  font-weight: bold;

  font-family: sans-serif;
  text-align: center;

  border-color: black;
  border-style: solid solid none solid;
  border-width: 1px;

  background-color: $COLOR-PAGEHEADER-DIMMED$;

  display: inline-block;
  position: relative;
  top: 0.25em;
}

a.menuitem:hover
{
  background-color: $COLOR-PAGEHEADER-LIGHT$;
}

a.menuitemcurrent
{ 
  background-color: $COLOR-PAGEHEADER$;

  border-bottom-style: solid;
  border-bottom-color: $COLOR-PAGEHEADER$;
  border-bottom-width: 1px;

  position: relative;
  top: 1px;
  z-index: 1;
}

div.newsitem { 
  margin-bottom: 1.5em;
}

div.newsdate { 
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  padding-bottom: 0.25em;
}

div.newsbody {
  padding-top: 0.5em;
  padding-left: 1em;
}

div.mainbody
{
  background-color: white;
  color: black;
  border-color: black;
  border-style: none solid none solid;
  border-width: 1px;
  padding: 2em 4em 2em 4em;
}

p.warning {
  font-size: 1.5em;
  color: red;
  background-color: black;
  font-family: sans-serif;
  border-style: solid;
  border-color: red;
  padding: .3em;
}

p.warning a {
  color: red;
}

div.answer {
  margin-bottom: 1.5em;
}

TT.irc {
  color: rgb(0,0,150);
}

TT.command {
  color: rgb(200, 0, 0);
}

img
{
  border-style: none;
}

img.screenshot {
  border-style: solid;
  border-width: medium;
}

a img.screenshot {
  border-color: gray;
}

a:visited img.screenshot {
  border-color: gray;
}


a:hover img.screenshot {
  border-color: white;
}


a:visited {
  color: rgb(0,0,100);
}

a:hover {
  color: black;
}

a {
  color: rgb(50,50,200);
}

/* EOF */
