#pagebody
{ 
  width: 70em;
  margin-left: auto;
  margin-right: auto;
}

h1,h2,h3,h4
{
  font-family: sans;
  margin-top: 0px;
}

h2,h3,h4
{ 
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: lightgrey;
  padding-left: 0.5em;
}

h1
{
  -moz-border-radius:    0.5em 0.5em 0em 0em;
  -webkit-border-radius: 0.5em 0.5em 0em 0em;
  background: #809fbb;
  color: white;
  border-style: solid solid none solid;
  border-color: black;
  border-width: thin;
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

p { 
  text-indent: 1em;
}

div.nav
{
  width: 100%;
  margin-top: 0.5em;
  text-align: center;
  margin-bottom: 0.5em;
  position: relative;
  top: 0.4em;
}

div.nav a
{
  text-decoration: none;
  margin-left:  0.25em;
  margin-right: 0.25em;
  padding-bottom: 1.5em;
}

div.nav ul
{ 
  list-style-type: none
  padding: 0;
  margin-bottom: 0;
}

div.nav ul li
{ 
  display: inline;
}

div.newsitem { 
  margin-bottom: 1.5em;
}

div.newsdate { 
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: lightgrey;
  padding-bottom: 0.25em;
}

div.newsbody {
  padding-top: 0.5em;
  padding-left: 1em;
}

a.menuitem:hover
{
  color: black;
  background-color: #E0FfFF;
  position: relative;
  top: -0.25em;
}

a.menuitem:visited
{
  color: black;
}

a.menuitem
{
  color: black;        

  -moz-border-radius:    0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;

  font-size: 1em;
  font-weight: bold;
  padding: 0.25em 1em 0.25em 1em;

  font-family: Sans-Serif;
  text-align: center;

  border-color: black;
  border-style: solid solid none solid;
  border-width: thin;
  background-color: #607f9b;
  /*	background-image: url(images/menubackground.png);*/
  background-repeat: repeat-y;
  display: inline;
}

div.mainbody
{
  background-color: white;
  color: black;
  border-color: black;
  border-style: none solid none solid;
  border-width: thin;
  padding: 2em 4em 2em 4em;
}

p.warning {
  font-size: 1.5em;
  color: red;
  background-color: black;
  font-family: Sans-Serif;
  border-style: solid;
  border-color: red;
  padding: .3em;
}

p.warning a {
  color: red;
}

table.question {
  font-family: Sans-Serif;
  background: #607f9b;
  border-style: solid;
  border-width: thin;
  border-color: black;
  color: white;
  padding-left: 1em;
}

P.answer {
  color: black;
}

TT.irc {
  color: rgb(0,0,150);
}

TT.command {
  color: rgb(200, 0, 0);
}

img
{
  border-style: none;
}

img.screenshot {
  border-style: solid;
  border-width: medium;
}

a img.screenshot {
  border-color: gray;
}

a:visited img.screenshot {
  border-color: gray;
}


a:hover img.screenshot {
  border-color: white;
}


a:visited {
  color: rgb(0,0,100);
}

a:hover {
  color: black;
}

a {
  color: rgb(50,50,200);
}

div.footer {  
  color: black;
  font-size: smaller;
  font-family: sans;

  text-align: right;
  background: #607f9b;
  padding: 5px;
  border-style: none solid solid solid; 
  border-color: black; 
  border-width: thin; 
  margin-top: 0;

  -moz-border-radius:    0em 0em 0.5em 0.5em;
  -webkit-border-radius: 0em 0em 0.5em 0.5em;
}

div.footer a { 
  text-decoration: none;
}

body
{
  font-family: sans;
  background-position: left top;
  background-image: url(images/snow_background.jpg);
  background-repeat: repeat-x;
  background-color: #707f9b;
  color: black;
  /* desert #cdb09e; */
}

/* EOF */
