body
{
  font-family: sans-serif;
  background-position: left top;
  background-image: url($BACKGROUND-IMAGE$);
  background-repeat: repeat-x;
  background-color: $COLOR-BACKGROUND$;
  background-attachment:fixed;
  color: black;
}

#logo
{ 
  text-align: center;
  padding: 0;
  margin:  0;
}

#page
{ 
  width: 60em;
  margin-left: auto;
  margin-right: auto;
}

#nav
{
  text-align: center;
  margin-bottom:  0;
  padding: 0;
  border-width: 0;
}

#header
{
  border-radius:         0.5em 0.5em 0em 0em;

  background: $COLOR-PAGEHEADER$;

  border-style: solid solid none solid;
  border-color: black;
  border-width: 1px;
 
  position: relative;
}

#body
{
  background-color: white;
  color: black;
  border-color: black;
  border-style: none solid none solid;
  border-width: 1px;
  padding: 2em 4em;
}

#footer 
{
  color: black;
  font-size: smaller;
  font-family: sans-serif;

  text-align: right;
  background: $COLOR-PAGEHEADER$;
  padding: 5px;
  border-style: none solid solid solid; 
  border-color: black;
  border-width: 1px; 
  margin-top: 0;

  border-radius:    0em 0em 0.5em 0.5em;
}

#header h1
{
  color: white;

  margin: 0 3em;
  padding: 0.125em 0;
}

#footer a 
{ 
  text-decoration: none;
}

#nav ul
{ 
  list-style-type: none;
  margin:  0;
  padding: 0;
}

#nav ul>li
{ 
  display: inline;
  margin:  0;
  padding: 0;
}

#nav a.menuitem:visited { 
  color: black;
}

#nav a.menuitem
{
  text-decoration: none;
  margin:  0.25em 0.25em 0 0.25em;
  padding: 0.25em 1em 0.5em 1em;

  color: black;        

  border-radius:         0.5em 0.5em 0 0;

  font-size: 1em;
  font-weight: bold;

  font-family: sans-serif;
  text-align: center;

  border-color: black;
  border-style: solid solid none solid;
  border-width: 1px;

  background-color: $COLOR-PAGEHEADER-DIMMED$;

  display: inline-block;
  position: relative;
  top: 0.25em;
}

#nav a.menuitem:hover
{
  background-color: $COLOR-PAGEHEADER-LIGHT$;
}

#nav a.menuitemcurrent
{ 
  background-color: $COLOR-PAGEHEADER$;

  border-bottom-style: solid;
  border-bottom-color: $COLOR-PAGEHEADER$;
  border-bottom-width: 1px;

  position: relative;
  top: 1px;
  z-index: 1;
}

div.screenshotmenu-center 
{ 
  text-align: center;
}

ul.screenshotmenu
{
  font-weight: bold;
  display: inline-block;
  margin: 0 auto 1.5em auto;
  padding: 0.25em 0em;
  background-color: $COLOR-PAGEHEADER$;
  border-style: solid;
  border-width: 1px;
  border-radius: 1em;
}

ul.screenshotmenu>li
{
  display: inline;
  list-style-type: none;
}

ul.screenshotmenu>li a
{ 
  padding: 0.25em 1em;
  text-decoration: none;
}

ul.screenshotmenu>li a:hover
{ 
  background-color: white;
  border-radius: 1em;
}


h2,h3,h4
{ 
  font-family: sans-serif;
  margin-top: 0px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  padding-left: 1.0em;
}

p { 
  text-indent: 1em;
}

div.newsitem { 
  margin-bottom: 1.5em;
}

div.newsdate { 
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  padding-bottom: 0.25em;
}

div.newsbody {
  padding-top: 0.5em;
  padding-left: 1em;
}

div.answer {
  margin-bottom: 1.5em;
}

TT.irc {
  color: rgb(0,0,150);
}

TT.command {
  color: rgb(200, 0, 0);
}

img
{
  border-style: none;
}

img.screenshot {
  border-style: solid;
  border-width: thin;
}

a img.screenshot {
  border-color: black;
  margin: 1em;
}

a:visited img.screenshot {
  border-color: black;
}

a:hover img.screenshot {
  border-color: grey;
}

a:visited {
  color: $COLOR-LINK-VISITED$;
}

a:hover {
  color: $COLOR-LINK-HOVER$;
}

a {
  color: $COLOR-LINK$;
}

.youtube { 
  margin: 0 auto;
  display: block;
}

dd { 
  margin-bottom: 1em;  
}

/* EOF */
