<?xml version="1.0" encoding="UTF-8" ?>
<menu>
  <item name="news">News</item>
  <item name="screenshots">Screenshots</item>
  <!-- <item name="faq">FAQ</item> -->
  <item name="documentation">Playing</item>
  <item name="levelbuilding-tutorial">Creating</item>
  <item name="download">Download</item>
  <item name="contact">Contact</item>
  <item name="about">About</item>
  <!-- <item name="links">Links</item> -->
</menu>
